<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-12">
      <h3 class="mb-4">Propostas enviadas</h3>
      <% if @proposals.empty? %>
        <div class="card text-center mb-5 bg-warning-subtle">
          <div class="card-body">
            <p class="card-text">Você ainda não enviou propostas</p>
          </div>
        </div>
      <% else %>
        <div class="table-responsive mb-5">
          <table class="table table-hover border border-primary-subtle">
            <tr class="table-primary">
              <th scope="col">Cód Vaga</th>
              <th scope="col">Título da Vaga</th>
              <th scope="col">Candidato</th>
              <th scope="col">Ver</th>
            </tr>
            </thead>
            <tbody>
            <% @proposals.each do |proposal| %>
              <tr>
                <td><%= proposal.candidature.vacancy.code %></td>
                <td><%= proposal.candidature.vacancy.title %></td>
                <td><%= proposal.candidature.applicant_profile.first_name %></td>
                <td>
                  <%= link_to recruiters_dashboard_proposal_path(proposal) do %>
                    <%= icon('fa-solid', 'eye') %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>





