<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10"col-12>
      <% flash.each do |type, message| %>
        <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
      <% end %>

      <div class="card bg-info-subtle mb-5" >
        <div class="card-body">
          <h5 class="card-title"><%= @proposal.candidature.vacancy.code %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= @proposal.candidature.vacancy.title %></h6>
          <p class="card-text">Candidato: <%= @proposal.candidature.applicant_profile.first_name %></p>
        </div>
      </div>

      <h3 class="mb-4">Proposta efetuada</h3>

      <h4>Status da Proposta:</h4>
      <p class="mb-4"><%= @proposal.status %></p>

      <h4>Salário oferecido:</h4>
      <p class="mb-4"><%= number_to_currency @proposal.salary_offered %></p>

      <h4>Benefícios oferecidos:</h4>
      <p class="mb-4"><%= @proposal.benefits_offered %></p>

      <h4>Atribuições da vaga:</h4>
      <p class="mb-4"><%= @proposal.job_functions %></p>

      <h4>Expectativa da empresa:</h4>
      <p class="mb-4"><%= @proposal.company_expectations %></p>

      <h4>Bônus:</h4>
      <p class="mb-4"><%= @proposal.bonus %></p>

      <h4>Informações adicionais:</h4>
      <p class="mb-5"><%= @proposal.additional_information %></p>
    </div>
  </div>
</div>
