<%= render "shared/navbar" %>

<section class="section__vacancies" id="scroll">
  <h2 class="title">
    <%= "Hoje temos #{total_vacancies} vagas esperando por você!" %>
  </h2> 

  <div class="wrap">
    <div class="search-vacancy">
      <%= form_tag vacancies_path, method: :get, class: "form-search" do %>
        <%= text_field_tag :search, params[:search], class: "search-term", placeholder: "Digite o Código, Título ou descrição da vaga" %>
        <%= submit_tag "Buscar", class: "search-button" %> 
      <% end %>
    </div>
  </div>

</section>

<% @vacancies.each do |vacancy| %>
  <% if vacancy.status == 'Ativa' %>
    <div class="vacancy__box">
      <%= link_to vacancy_path(vacancy) do %>
        <div class="vacancy__info">
          <div class="info-job">
            <h3 class="subtitle">Código da vaga: <%= vacancy.code %></h3>
            <ul>
              <li>
                <%= vacancy.title %></h3>
              </li>
              <li>
                <%= icon('fa-solid', 'location-pin') %> <%= vacancy.location %> 
              </li>
            </ul>
          </div>
          <div class="info-job-mode">
            <span class="badge"><%= vacancy.vacancy_level%></span>
            <p><%= number_to_currency vacancy.salary %></p>
          </div>
        </div>
      <% end %>
    </div>  
  <% else %>
    <div class="vacancy__box">
      <div class="vacancy__info">
        <div class="info-job">
          <h3 class="subtitle">Código da vaga: <%= vacancy.code %></h3>
          <ul>
            <li>
              <%= vacancy.title %></h3>
            </li>
            <li>
              <%= icon('fa-solid', 'location-pin') %> <%= vacancy.location %> 
            </li>
            <li>
              <strong>(Não aceita mais candidaturas)</strong>
            </li>
          </ul>
        </div>
        <div class="info-job-mode">
          <span class="badge"><%= vacancy.vacancy_level%></span>
          <p><%= number_to_currency vacancy.salary %></p>
        </div>
      </div>
    </div>  
  <% end %>
<% end %>