<section class="section__vacancies">
  <h2 class="title">
    <%= "Hoje temos #{total_vacancies} vagas esperando por você!" %>
  </h2> 
</section>

<% @vacancies.each do |vacancy| %>
  <div class="vacancy__box">
    <%= link_to vacancy_path(vacancy) do %>
      <div class="vacancy__info">
        <div class="info-job">
          <h3 class="subtitle">Código da vaga: <%= vacancy.code %></h3>
          <ul>
            <li>
              <%= vacancy.title %></h3>
            </li>
            <li>
              <%= icon('fa-solid', 'location-pin') %> <%= vacancy.location %> 
            </li>
          </ul>
        </div>
        <div class="info-job-mode">
          <span class="badge"><%= vacancy.vacancy_level %></span>
          <p><%= number_to_currency vacancy.salary %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>