<%= render "shared/navbar" %>

<section class="section__search">
  <div class="section__search--image">
    <%= image_tag "search-job.png" %>
  </div>
  <div class="section__search-input">   
    <%= form_tag(search_vacancies_path, class: "section__search--form", local: true, method: :get)  do %>
      <%= text_field_tag :q, params[:q], placeholder: "Digite o código, título ou descrição da vaga", class: "search-vacancies-input" %>
      <%= submit_tag "Buscar", class: "find-btn" %>
    <% end %>
  </div>
</section>

<div class="container">
  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>
</div>

<% @vacancies.each do |vacancy| %>
  <div class="section__vacancy">
    <div class="section__vacancyHeader">  
      <div class="section__vacancyHeader--left">
        <div class="section__vacancyHeader--info">
          <div class="section__vacancyHeader--head-info">
            <div class="image-box">
              <% if vacancy.recruiter_profile.avatar.persisted? %>
                <%= image_tag vacancy.recruiter_profile.avatar, class: "recruiter-image-profile" %>
              <% else %>
                <%= image_tag 'profile.png', class: "recruiter-image-profile" %>
              <% end %>
            </div>
            <div class="left-info">
              <strong class="job-code"><%= vacancy.code %></strong>
              <span class="location"><%= vacancy.location %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="section__vacancyHeader--right">
        <div class="job-level">
            <% if vacancy.status != 'Ativo' %>
              <span class="job-disabled">Não aceita mais candidaturas</span>
            <% end %>
            <span class="btn-gray"><%= vacancy.vacancy_level%><span>
        </div>
      </div>
    </div>

    <div class="section__vacancyBody">
      <h4 class="job-name">
        <%= link_to vacancy.title, vacancy_path(vacancy), class: "#{ ' disabled' if vacancy.status != 'Ativo' }" %>
      </h4>
      <div class="job-icons">
        <span class="card-briefcase"><%= vacancy.working_model %></span>
        <span class="card-time"><%= l vacancy.created_at, format: :short %></span>
        <p class="job-description">
          <%= vacancy.description.truncate(200, separator: " ") %>
        </p>
      </div>
    </div>

    <div class="section__vacancyFooter">
      <div class="section__vacancyFooter--left">
        <span class="card-text-price">
          <%= number_to_currency vacancy.salary %>
        </span>
      </div>
      <div class="section__vacancyFooter--right">
        <%= link_to 'Aplicar', vacancy_path(vacancy), class: "btn-apply#{ ' disabled' if vacancy.status != 'Ativo' }" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= paginate @vacancies %>
</div>

<%= render "shared/footer" %>