<%= render "shared/navbar" %>

<div class="section-vacancies container my-5">
  <div class="image-container">
    <%= image_tag "search-job.png" %>
  </div>
  <div class="row">
    <div class="col-md-9 col-12 mx-auto">    
      <div class="search-area">
        <%= form_tag(search_vacancies_path, class: "search-vacancies", local: true, method: :get)  do %>
          <%= text_field_tag :q, params[:q], placeholder: "Digite o código, título ou descrição da vaga", class: "search-vacancies-input" %>
          <%= submit_tag "Buscar", class: "find-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="sidebar-left">
        <div class="sidebar-filters">

        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="vacancies">
        <% @vacancies.each do |vacancy| %>
          <% if vacancy.status == 'Ativo' %>
            <div class="card-grid">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="card-grid-image-left">
                    <div class="image-box">
                      <img
                        src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"
                        alt=""
                      />
                    </div>
                      <div class="right-info">
                        <%= link_to vacancy_path(vacancy), class: "name-job" do %>
                          <%= vacancy.code %>
                        <% end %>
                        <span class="location-small"><%= vacancy.location %></span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-6 text-start text-md-end col-md-6 col-sm-12">
                  <div class="mt-4">
                  <%= link_to vacancy_path(vacancy), class: "btn-grey-small mr-5" do %>
                    <%= vacancy.vacancy_level%>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="card-block-info">
                <h4 class="mt-2">
                  <%= link_to vacancy_path(vacancy), class: "name-job name-vacancy" do %>
                    <%= vacancy.title %></h4>
                  <% end %>
                <div>
                  <span class="card-briefcase"><%= vacancy.working_model %></span>
                    <span class="card-time">
                      <span><%= l vacancy.created_at, format: :short %> </span>
                    </span>
                    <p class="font-sm color-text-paragraph mt-1">
                      <%= vacancy.description %>
                    </p>
                    <div class="card-2-bottom">
                      <div class="row">
                        <div class="col-lg-7 col-7">
                          <span class="card-text-price">
                            <%= number_to_currency vacancy.salary %>
                          </span>
                        </div>
                        <div class="col-lg-5 col-5 text-end">
                          <div>
                            <%= link_to 'Aplicar', vacancy_path(vacancy), class: "custom-btn-applay" %>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>  

          <% else %>
          
            <div class="card-grid">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="card-grid-image-left">
                    <div class="image-box">
                      <img
                        src="https://wp.alithemes.com/html/jobbox/demos/assets/imgs/brands/brand-1.png"
                        alt="" class="job-disabled"
                      />
                    </div>
                      <div class="right-info">
                        <span class="code-job job-disabled"><%= vacancy.code %></span>
                        <span class="location-small"><%= vacancy.location %></span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-6 text-start text-md-end col-md-6 col-sm-12">
                  <div class="mt-4">
                    <span class="badge-candidature-disabled">Não aceita mais candidaturas</span>
                    <a href="#" class="btn-grey-small mr-5 job-disabled"><%= vacancy.vacancy_level%></a>
                  </div>
                </div>
              </div>
              <div class="card-block-info">
                <h4 class="mt-2 job-disabled"><%= vacancy.title %></h4>
                <div>
                  <span class="card-briefcase"><%= vacancy.working_model %></span>
                    <span class="card-time">
                      <span><%= l vacancy.created_at, format: :short %> </span>
                    </span>
                    <p class="font-sm color-text-paragraph mt-1 job-disabled">
                      <%= vacancy.description %>
                    </p>
                    <div class="card-2-bottom">
                      <div class="row">
                        <div class="col-lg-7 col-7">
                          <span class="card-text-price job-disabled">
                            <%= number_to_currency vacancy.salary %>
                          </span>
                        </div>
                        <div class="col-lg-5 col-5 text-end">
                          <div class="job-disabled button-disabled">Aplicar</div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>   
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center my-5">
  <%= paginate @vacancies %>
</div>

<%= render "shared/footer" %>

