<%= render "shared/navbar" %>
<div class="container my-5">
  <div class="show-title">
    <div>
      <h1><%= @vacancy.title %></h1>
      <span><%= time_ago_in_words(@vacancy.created_at) %> atrás</span>
    </div>
    <div>
      <%= link_to "Aplicar", new_applicants_dashboard_vacancy_candidature_path(@vacancy), class: "custom-btn-applay s-btn" %>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-between">
    <div class="col-md-7 col-12">
      <div class="border rounded-4 p-4">
        <h2 class="border-bottom s-title-card pb-3">Vaga <%= @vacancy.code %></h2>
        <div class="row">
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-company">Empresa</div>
            <strong class="s-icon-description"><%= @vacancy.recruiter_profile.full_name %></strong>
          </div>
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-sector">Setor</div>
            <strong class="s-icon-description"><%= @vacancy.recruiter_profile.sector %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-level">Nível</div>
            <strong class="s-icon-description"><%= @vacancy.vacancy_level %></strong>
          </div>
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-model">Modalidade</div>
            <strong class="s-icon-description"><%= @vacancy.working_model %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-type">Contrato</div>
            <strong class="s-icon-description"><%= @vacancy.contract_type %></strong>
          </div>
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-salary">Salário</div>
            <strong class="s-icon-description"><%= number_to_currency @vacancy.salary %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-location">Localização</div>
            <strong class="s-icon-description"><%= @vacancy.location %></strong>
          </div>
          <div class="col-md-6 d-flex py-2">
            <div class="s-icon i-time">Candidatura até</div>
            <strong class="s-icon-description">30/10/20203</strong>
          </div>
        </div>
      </div>
      <div class="s-job-description mt-5">
        <h2 class="mb-3">Descrição da vaga</h2>
        <p class="s-description">
          <%= @vacancy.description %>
        </p>
      </div>
      <div class="s-job-description mt-5">
        <h2 class="mb-3">Requisitos da vaga</h2>
        <p class="s-description">
          <%= @vacancy.requirements %>
        </p>
      </div>
      <div class="s-job-description mt-5">
        <h2 class="mb-3">Habilidades desejada</h2>
        <p class="s-description">
          <%= @vacancy.desired_skill %>
        </p>
      </div>
      <div class="s-job-description mt-5 border-bottom">
        <h2 class="mb-3">Benefícios</h2>
        <p class="s-description">
          <%= @vacancy.benefits %>
        </p>
      </div>
      <div class="my-4">
        <%= link_to "Aplicar", new_applicants_dashboard_vacancy_candidature_path(@vacancy), class: "custom-btn-applay s-btn text-start mb-4" %>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="border rounded-4 p-4">
        <h2 class="border-bottom s-title-card text-end pb-3">Sobre nós</h2>
        <p class="pt-3 s-about-us">
          <%= @vacancy.recruiter_profile.about_us %>
        </p>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>