<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="form-field"> 
    <%= f.input :course_name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>  
  <div class="form-field"> 
    <%= f.input :institution_name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-field--col-2">
    <div class="form-field"> 
    <%= f.input :course_type, collection: EducationLevel.course_types.keys, as: :select,
        include_blank: "Informe o tipo do curso", label_html: { class: 'form-label' }, input_html: { class: 'form-select' } %>
    </div>  
    <div class="form-field"> 
      <%= f.input :course_status, collection: EducationLevel.course_statuses.keys, as: :select,
        include_blank: "Selecione a situação do curso", label_html: { class: 'form-label' }, input_html: { class: 'form-select' } %>
    </div>  
  </div>

  <div class="form-field-date"> 
    <div class="date-input">
      <%= f.label :start_date, class: "date-label" %>
      <%= f.input :start_date, as: :date, label: false %>
    </div>
  </div>
  <div class="form-field-date"> 
    <div class="date-input">  
      <%= f.label :end_date, class: "date-label" %>  
      <%= f.input :end_date , as: :date, label: false %>
    </div>
  </div>
  <div class="form-field-date"> 
    <div class="date-input">    
      <%= f.label :expected_end_date, class: "date-label" %>
      <%= f.input :expected_end_date, as: :date, label: false %>
    </div>
  </div>

  <button type="button" data-action="nested-form#remove" class="remove-education">
    <%= image_tag "trash.svg", width: "24", class: "remove-benetit-icon" %>
  </button>
  
  <%= f.hidden_field :_destroy %>
</div>