<div class="profile__head">
  <div class="profile__head--header">
    <div class="profile__head--back-btn">
      <%= link_to applicants_dashboard_home_index_path do %>
        <%= image_tag "arrow-right.svg" %>
      <% end %>
    </div>
    <h1 class="profile__head--title-page"><%= action_name.capitalize %> perfil</h1>
  </div>
</div>
  
<div class="profile__body">
  <div class="profile__body--form">
    <%= simple_form_for @applicant_profile,
                        url: (@applicant_profile.new_record? ? applicants_dashboard_profile_index_path
                                : applicants_dashboard_profile_path ) do |f| %>
      <%= f.input :applicant_id, as: :hidden, input_html: { value: current_applicant.id} %>

      <div class="form-field">
        <%= f.input :avatar, as: :file, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field">
        <%= f.input :first_name, label: "Nome", input_html: { class: 'select'} %>
      </div>

      <div class="form-field">
        <%= f.input :last_name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field-date">
        <%= f.label :birthdate, class: "date-label" %>
        <div class="date-input">
          <%= f.input :birthdate, as: :date, start_year: Date.today.year - 90, 
                                             end_year: Date.today.year - 17, 
                                             discard_day: false, 
                                             order: [:day, :month, :year], label: false %> 
        </div>
      </div>

      <div class="form-field--col-2">
        <div class="form-field">  
          <%= f.input :rg, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>

        <div class="form-field">
          <%= f.input :cpf, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-field--col-2">
        <div class="form-field"> 
          <%= f.input :gender, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
          
        <div class="form-field">
            <%= f.input :civil_status, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-field">
        <%= f.input :professional_goals, as: 'text', label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <h3 class="form-title">Endereço</h3>
      <%= f.fields_for :address do |address_fields| %>

      <div class="form-field"> 
        <%= address_fields.input :street, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>    

      <div class="form-field"> 
        <%= address_fields.input :number, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div> 

      <div class="form-field">  
        <%= address_fields.input :postal_code, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field"> 
        <%= address_fields.input :complement, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field">
        <%= address_fields.input :neighborhood, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-field--col-2">
        <div class="form-field">  
          <%= address_fields.input :city, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>

        <div class="form-field">  
          <%= address_fields.input :state, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
      
      <h3 class="form-title">Escolaridade</h3>
      <div id="education-levels" class="col">
        <%= f.simple_fields_for :education_levels do |education| %>
          <%= render 'education_level_fields', :f => education %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association f, :education_levels, class: "add-education" do %>
            <i class='bx bx-plus-circle'></i> Adicionar formação
          <% end %>
      </div>

      <%= f.button :submit, "Salvar", class: 'btn-update' %>
    <% end %>
  </div>
</div>
