<div class="box">
  <h1 class="box__title">Minhas Informações</h1>
  <hr class="divider">

  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>
  
  <%= simple_form_for @applicant_profile, 
    url: (@applicant_profile.new_record? ? applicants_dashboard_profile_index_path
        : applicants_dashboard_profile_path ) do |f| %>

    <%= f.input :applicant_id, as: :hidden, input_html: { value: current_applicant.id} %>

    <%= f.input :avatar, as: :file, input_html: { class: 'form-control' } %>

      <%= f.input :first_name, wrapper_html: { class: 'form-control'}, 
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input'} %>

      <%= f.input :last_name, wrapper_html: { class: 'form-control'}, 
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-input'} %>
    
      <%= f.input :birthdate, as: :string, wrapper_html: { class: 'form-control'},
                  label_html: { class: 'form-label' },
                  input_html: { type: :date, class: 'form-input'} %>

      <%= f.input :rg, wrapper_html: { class: 'form-control'}, 
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-input'} %>
                
      <%= f.input :cpf, wrapper_html: { class: 'form-control'}, 
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-input'} %>

      <%= f.input :gender, wrapper_html: { class: 'form-control'}, 
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-input'} %>
    
      <%= f.input :civil_status, wrapper_html: { class: 'form-control'}, 
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-input'} %>

      <%= f.input :professional_goals, as: 'text', wrapper_html: { class: 'form-control'}, 
                                    label_html: { class: 'form-label' },
                                    input_html: { class: 'form-input'} %>

      <%= f.button :submit, class: 'save-btn' %>
  <% end %>
</div>
