<div class="profile__head">
  <div class="profile__head--header">
    <div class="profile__head--back-btn">
      <%= link_to applicants_dashboard_home_index_path do %>
        <%= image_tag "arrow-right.svg" %>
      <% end %>
    </div>
    <h1 class="profile__head--title-page"><%= action_name.capitalize %> perfil</h1>
  </div>
</div>
  
<div class="profile__body">
  <div class="profile__body--form">
    <%= simple_form_for @applicant_profile, url: (@applicant_profile.new_record? ? 
                                            applicants_dashboard_profile_index_path : 
                                            applicants_dashboard_profile_path ),
                                            data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
      <%= form.input :applicant_id, as: :hidden, input_html: { value: current_applicant.id} %>

      <div class="form-field">
        <%= form.input :avatar, as: :file, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field">
        <%= form.input :first_name, label: "Nome", input_html: { class: 'select'} %>
      </div>

      <div class="form-field">
        <%= form.input :last_name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field-date">
        <%= form.label :birthdate, class: "date-label" %>
        <div class="date-input">
          <%= form.input :birthdate, as: :date, start_year: Date.today.year - 90, 
                                             end_year: Date.today.year - 17, 
                                             discard_day: false, 
                                             order: [:day, :month, :year], label: false %> 
        </div>
      </div>

      <div class="form-field--col-2">
        <div class="form-field">  
          <%= form.input :rg, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>

        <div class="form-field">
          <%= form.input :cpf, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-field--col-2">
        <div class="form-field"> 
          <%= form.input :gender, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
          
        <div class="form-field">
            <%= form.input :civil_status, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-field">
        <%= form.input :professional_goals, as: 'text', label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <h3 class="form-title">Endereço</h3>
      <%= form.fields_for :address do |address_fields| %>

      <div class="form-field"> 
        <%= address_fields.input :street, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>    

      <div class="form-field"> 
        <%= address_fields.input :number, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div> 

      <div class="form-field">  
        <%= address_fields.input :postal_code, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field"> 
        <%= address_fields.input :complement, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-field">
        <%= address_fields.input :neighborhood, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-field--col-2">
        <div class="form-field">  
          <%= address_fields.input :city, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>

        <div class="form-field">  
          <%= address_fields.input :state, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
      
      <h3 class="form-title">Formação</h3>
      <div id="education-levels" class="col">
        <template data-nested-form-target="template">
          <%= form.simple_fields_for :education_levels, EducationLevel.new, child_index: 'NEW_RECORD' do |education| %>
            <%= render "education_level_fields", f: education %>
          <% end %>
        </template>

        <%= form.simple_fields_for :education_levels do |education| %>
          <%= render "education_level_fields", f: education %>
        <% end %>

        <div data-nested-form-target="target"></div>

        <div class="add-education">
          <button type="button" data-action="nested-form#add">
            <%= image_tag "plus-circle.svg", width: "24" %>Adicionar formação
          </button>
        </div>

      </div>

      <%= form.button :submit, "Salvar", class: 'btn-update' %>
    <% end %>
  </div>
</div>
