<div class="container">
  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>

  <div class="row">
    <div class="col-md-3 col-12 py-4 py-md-0">
      <div class="text-center text-md-start">
        <% if @applicant_profile.avatar.persisted? %>
          <%= image_tag @applicant_profile.avatar,  class: "img-fluid rounded", width: "128", height: "128" %>
        <% else %>
          <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 col-12 py-4 py-md-0">
      <h2><%= full_name(@applicant_profile) %></h2>
      <hr>
      <div class="row">
        <div class="col-md-4 col-12">
          <h4>Ano de nascimento</h4>
          <p class="mb-4"><%= l @applicant_profile.birthdate, format: :long %></p>
        </div>
        <div class="col-md-4 col-12">
          <h4>RG</h4>
          <p class="mb-4"><%= @applicant_profile.rg %></p>
        </div>
        <div class="col-md-4 col-12">
          <h4>CPF</h4>
          <p class="mb-4"><%= @applicant_profile.cpf %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <h4>Gênero</h4>
          <p class="mb-4"><%= @applicant_profile.gender %></p>
        </div>
        <div class="col-md-6 col-12">
          <h4>Estado civil</h4>
          <p class="mb-4"><%= @applicant_profile.civil_status%></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Objetivos Profissionais</h4>
          <p class="mb-4"><%= @applicant_profile.professional_goals %></p>
        </div>
      </div>

      <%= button_to 'Editar', edit_applicants_dashboard_profile_path(@applicant_profile),
                    method: :get, class: 'btn btn-primary mb-5' %>
    </div>
  </div>
</div>