<div class="dashboard__head">
  <div class="dashboard__head--header">
    <div class="dashboard__head--back-btn">
      <%= link_to applicants_dashboard_home_index_path do %>
        <%= image_tag "angle-left.svg" %>
      <% end %>
    </div>
    <h1 class="dashboard__head--title-page"><%= full_name(@applicant_profile) %></h1>
  </div>
</div>

<div class="profile__body">
  <div class="profile__show">
    <div class="profile__show--img">
      <% if @applicant_profile.avatar.persisted? %>
        <%= image_tag @applicant_profile.avatar, class: "img-fluid rounded", width: "128", height: "128" %>
      <% else %>
        <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
      <% end %>
    </div>

    <div class="profile__show--card">
      <div class="profile__show--card-infoUser">
        <div class="profile-card-header">
          <%= image_tag "info.svg", width: "24" %>
          <h1>Informações</h1>
        </div>
        <div class="profile-card-body">
          <ul>
            <li><%= full_name(@applicant_profile) %></li>
            <li><%= l @applicant_profile.birthdate, format: :long %></li>
            <li><%= @applicant_profile.rg %></li>
            <li><%= @applicant_profile.cpf %></li>
            <li><%= @applicant_profile.gender %></li>
            <li><%= @applicant_profile.civil_status%></li>
          </ul>
          <h3>Objetivos profissionais</h3>
          <p><%= @applicant_profile.professional_goals %></p>
        </div>
      </div>

      <div class="profile__show--card-contact">
        <div class="profile-card-header">
          <%= image_tag "contact-card.svg", width: "24" %>
          <h1>Contato</h1>
        </div>
        <div class="profile-card-body">
          <ul>
            <li><%= current_applicant.email %></li>
          </ul>
        </div>
      </div>

      <div class="profile__show--card-address">
        <div class="profile-card-header">
          <%= image_tag "address.svg", width: "24" %>
          <h1>Endereço</h1>
        </div>
        <div class="profile-card-body">
          <p><%= @applicant_profile.address.street %>, <%= @applicant_profile.address.number %> - 
          <%= @applicant_profile.address.complement %> - CEP - <%= @applicant_profile.address.postal_code %></p>
          <p><%= @applicant_profile.address.neighborhood %>, <%= @applicant_profile.address.city %> - 
          <%= @applicant_profile.address.state %>
          </p>
        </div>
      </div>

      <% @education_levels.each do |education| %>
        <div class="profile__show--card-education">
          <div class="profile-card-header">
            <%= image_tag "degree.svg", width: "24" %>
            <h1>Formação</h1>
          </div>
          <div class="profile-card-body">
            <ul>
              <li><%= education.course_name %></li>
              <li><%= education.institution_name %></li>
              <li><%= I18n.t("activerecord.attributes.education_level.course_types.#{education.course_type}") %>
                  <%= I18n.t("activerecord.attributes.education_level.course_statuses.#{education.course_status}") %>
              </li>
            </ul>

            <div class="education-date">
              <div class="start-date">
                <div>
                  <%= image_tag "calendar-date.svg", width: "24"%>
                  <span>Data de início</span>
                </div>
                <strong>
                  <%= education.start_date.strftime('%d/%m/%Y') %>
                </strong>
              </div>

              <% if education.end_date.present? %>
                <div class="end-date">
                  <div>
                    <%= image_tag "calendar-date.svg", width: "24"%>
                    <span>Data de término</span>
                </div>
                  <strong>
                    <%= education.end_date.strftime('%d/%m/%Y') %>
                  </strong> 
                </div>
              <% end %>

              <% if education.expected_end_date.present? %>
                <div class="expected-date">
                  <div>
                    <%= image_tag "calendar-date.svg", width: "24"%>
                    <span>Previsão de término</span>
                  </div>
                  <strong>
                    <%= education.expected_end_date.strftime('%d/%m/%Y') %>
                  </strong>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>

    <%= button_to 'Editar Perfil', edit_applicants_dashboard_profile_path(@applicant_profile),
                    method: :get, class: 'btn-edit' %>
  </div>
</div>