<div class="container">
  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>

  <div class="row">
    <div class="col-md-3 col-12 py-4 py-md-0">
      <div class="text-center text-md-start">
        <% if @applicant_profile.avatar.persisted? %>
          <%= image_tag @applicant_profile.avatar,  class: "img-fluid rounded", width: "128", height: "128" %>
        <% else %>
          <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 col-12 py-4 py-md-0">
      <h2><%= full_name(@applicant_profile) %></h2>
      <hr>
      <div class="row">
        <div class="col-md-4 col-12">
          <h4>Ano de nascimento</h4>
          <p class="mb-4"><%= l @applicant_profile.birthdate, format: :long %></p>
        </div>
        <div class="col-md-4 col-12">
          <h4>RG</h4>
          <p class="mb-4"><%= @applicant_profile.rg %></p>
        </div>
        <div class="col-md-4 col-12">
          <h4>CPF</h4>
          <p class="mb-4"><%= @applicant_profile.cpf %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <h4>Gênero</h4>
          <p class="mb-4"><%= @applicant_profile.gender %></p>
        </div>
        <div class="col-md-6 col-12">
          <h4>Estado civil</h4>
          <p class="mb-4"><%= @applicant_profile.civil_status%></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Objetivos Profissionais</h4>
          <p class="mb-4"><%= @applicant_profile.professional_goals %></p>
        </div>
      </div>
      <h3 class="mt-4">Endereço</h3>
      <hr>
      <div class="row">
        <div class="col-md-6 col-12">
          <h4>Rua</h4>
          <p class="mb-4"><%= @applicant_profile.address.street %></p>
        </div>
        <div class="col-md-3 col-12">
          <h4>Número</h4>
          <p class="mb-4"><%= @applicant_profile.address.number %></p>
        </div>
        <div class="col-md-3 col-12">
          <h4>CEP</h4>
          <p class="mb-4"><%= @applicant_profile.address.postal_code %></p>
        </div>
        <div class="row">
          <div class="col">
            <h4>Complemento</h4>
            <p class="mb-4"><%= @applicant_profile.address.complement %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <h4>Cidade</h4>
            <p class="mb-4"><%= @applicant_profile.address.city %></p>
          </div>
          <div class="col-md-4 col-12">
            <h4>Bairro</h4>
            <p class="mb-4"><%= @applicant_profile.address.neighborhood %></p>
          </div>
          <div class="col-md-4 col-12">
            <h4>Estado</h4>
            <p class="mb-5"><%= @applicant_profile.address.state %></p>
          </div>
        </div>
      </div>
      <h3 class="mt-4">Escolaridade</h3>
      <hr>
      <% @education_levels.each do |education| %>
        <div class="mb-4 border-bottom">
          <div class="row">
            <div class="col-md-5 col-12">
              <h4>Curso</h4>
              <p class="mb-5"><%= education.course_name %></p>
            </div>
            <div class="col-md-7 col-12">
              <h4>Instiutição de ensino</h4>
              <p class="mb-5"><%= education.institution_name %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-12">
              <h4>Tipo curso</h4>
              <p class="mb-5"><%= education.course_type %></p>
            </div>
            <div class="col-md-6 col-12">
              <h4>Situação curso</h4>
              <p class="mb-5"><%= education.course_status %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-12">
              <h4>Data de início</h4>
              <p class="mb-5"><%= l education.start_date, format: :long %></p>
            </div>
            <% if education.end_date.present? %>
              <div class="col-md-4 col-12">
                <h4>Data de término</h4>
                <p class="mb-5"><%= l education.end_date, format: :long %></p>
              </div>
            <% end %>
            <% if education.expected_end_date.present? %>
              <div class="col-md-4 col-12">
                <h4>Previsão de término</h4>
                <p class="mb-5"><%= education.expected_end_date %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= button_to 'Editar', edit_applicants_dashboard_profile_path(@applicant_profile),
                    method: :get, class: 'btn btn-primary mb-5' %>
    </div>
  </div>
</div>