<div class="box">
  <h1 class="box__title">Meu Perfil</h1>
  <hr class="divider">

  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>

  <dl>
    <dt>Nome:</dt>
    <dd><%= @applicant_profile.first_name %></dd>

    <dt>Sobrenome:</dt>
    <dd><%= @applicant_profile.last_name %></dd>

    <dt>Ano de nascimento:</dt>
    <dd><%= @applicant_profile.birthdate %></dd>

    <dt>RG:</dt>
    <dd><%= @applicant_profile.rg %></dd>

    <dt>CPF:</dt>
    <dd><%= @applicant_profile.cpf %></dd>
  
    <dt>Gênero:</dt>
    <dd><%= @applicant_profile.gender %></dd>
    
    <dt>Estado civil:</dt>
    <dd><%= @applicant_profile.civil_status%></dd>
    
    <dt>Objetivos Profissionais:</dt>
    <dd><%= @applicant_profile.professional_goals %></dd>
  </dl>

  <%= button_to 'Editar', edit_applicants_dashboard_profile_path(@applicant_profile),
  method: :get, class: 'btn btn-edit' %>
</div>