<%= link_to sanitize("&larr; Voltar"), root_path, class: "back-to-home" %>

<div class="box__authorization">
  <h2 class="box__authorization--title">
    <%= t('devise.registrations.new.sign_up') %>
  </h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="box__authorization--input">
        <%= f.input :email,
                    label_html: { class: "box__authorization--label"},
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "input-authorization" },
                    placeholder: t('placeholders.email') %>
      </div>
      <div class="box__authorization--input">
          <%= f.input :password,
                      label_html: { class: "box__authorization--label"},
                      input_html: { autocomplete: "new-password", class: "input-authorization" },
                      placeholder: t('placeholders.minimum_characters') %>
      </div>
      <div class="box__authorization--input">
          <%= f.input :password_confirmation,
                      label_html: { class: "box__authorization--label"},
                      input_html: { autocomplete: "new-password", class: "input-authorization" },
                      placeholder: t('placeholders.repeat_password') %>
      </div>
      <%= f.button :submit, t('devise.registrations.new.sign_up'), class: "btn-authorization-recruiter" %>
  <% end %>


  <div class="box__authorization--links">
    <%= render "recruiters/shared/links" %>
  </div>
</div>
