<main class="authenticate">
  <h2 class="authenticate__title">
    <%= t('devise.registrations.new.sign_up') %>
  </h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :email,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: t('placeholders.email') %>

    <%= f.input :password,
                label: false,
                input_html: { autocomplete: "new-password" },
                placeholder: t('placeholders.minimum_characters') %>

    <%= f.input :password_confirmation,
                label: false,
                input_html: { autocomplete: "new-password" },
                placeholder: t('placeholders.repeat_password') %>

    <%= f.button :submit, t('devise.registrations.new.sign_up'), class: "authenticate-btn" %>
  <% end %>

  <div class="authenticate__links">
    <%= render "recruiters/shared/links" %>
  </div>
</main>