<nav>
  <div class="navbar">
    <i class='bx bx-menu'></i>
    <div class="logo">
      <%= link_to "doHiring", root_path %>
    </div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">doHiring</span>
        <i class='bx bx-x' ></i>
      </div>
      <ul class="links">
        <li>
          <a href="#">Entrar</a>
          <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><%= link_to 'Sou cadidato', new_applicant_session_path %></li>
            <li><%= link_to 'Sou recrutador', new_recruiter_session_path %></li>
          </ul>
        </li>
        <li>
          <a href="#">Registrar</a>
          <i class='bx bxs-chevron-down js-arrow arrow '></i>
          <ul class="js-sub-menu sub-menu">
            <li><%= link_to 'Como candidato', new_applicant_registration_path %></li>
            <li><%= link_to 'Como empresa', new_recruiter_registration_path %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="search-box">
      <i class='bx bx-search'></i>
      <div class="input-box">
        <input type="text" placeholder="Buscar..">
      </div>
    </div>
  </div>
</nav>
