<nav id="navbar">
  <div class="navbar__brand">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Logo" %>
    <% end %>
  </div>

  <div class="nav-menu">
    <%= link_to "Vagas", vacancies_path, class: "btn-vacancies" %>

    <div class="dropdown">
      <button class="authenticate_btn">Entrar</button>
        <div class="dropdown-content">
          <%= link_to 'Entrar como Cadidato', new_applicant_session_path %>
          <%= link_to 'Entrar como Recrutador', new_recruiter_session_path %>
        </div>
    </div>
    <div class="dropdown">
      <button class="authenticate_btn sign-up">Cadastrar</button>
        <div class="dropdown-content">
          <%= link_to 'Cadastrar como Candidato', new_applicant_registration_path %>
          <%= link_to 'Cadastrar como Recrutador', new_recruiter_registration_path %>
        </div>
    </div>
  </div>
</nav>

<script>
  window.addEventListener("scroll", function () {
    var navbar = document.getElementById("navbar");
    var mainSection = document.getElementById("scroll");
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > mainSection.offsetTop) {
      navbar.classList.add("navbar-fixed");
    } else {
      navbar.classList.remove("navbar-fixed");
    }
  });
</script>
