<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>
  
<%= simple_form_for @recruiter_profile,
  url: (@recruiter_profile.new_record? ? recruiters_dashboard_profile_index_path :
          recruiters_dashboard_profile_path ) do |f| %>

  <div class="mb-3">
    <%= f.input :recruiter_id, as: :hidden, input_html: { value: current_recruiter.id} %>
  </div>
  <div class="mb-3">
    <%= f.input :avatar, as: :file, input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :full_name, label_html: { class: 'form-label' },
                            input_html: { class: 'form-control'} %>
  </div>
  <div class="mb-3">
    <%= f.input :document, label_html: { class: 'form-label' },
                            input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :phone, label_html: { class: 'form-label' },
                          input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :cell_phone, label_html: { class: 'form-label' },
                              input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :sector, label_html: { class: 'form-label' },
                          input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :number_employee, label_html: { class: 'form-label' },
                                    input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
  </div>
<% end %>
