<div class="box">
  <h1 class="box__title">Minhas Informações</h1>

  <%= simple_form_for @recruiter_profile, 
    url: (@recruiter_profile.new_record? ? recruiters_dashboard_profile_index_path
        : recruiters_dashboard_profile_path ) do |f| %>

    <%= f.input :recruiter_id, as: :hidden, input_html: { value: current_recruiter.id} %>
    
    <%= f.input :full_name, wrapper_html: { class: 'form-control'}, 
                            label_html: { class: 'form-label' },
                            input_html: { class: 'form-input'} %>

      <%= f.input :document, wrapper_html: { class: 'form-control'},
                            label_html: { class: 'form-label' },
                            input_html: { id: 'cnpj-input', class: 'form-input'} %>
               

    
      <%= f.input :phone, wrapper_html: { class: 'form-control'}, 
                          label_html: { class: 'form-label' },
                          input_html: { class: 'form-input'} %>

      <%= f.input :cell_phone, wrapper_html: { class: 'form-control'}, 
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input'} %>
    

    
      <%= f.input :sector, wrapper_html: { class: 'form-control'}, 
                          label_html: { class: 'form-label' },
                          input_html: { class: 'form-input'} %>

      <%= f.input :number_employee, wrapper_html: { class: 'form-control'}, 
                                    label_html: { class: 'form-label' },
                                    input_html: { class: 'form-input'} %>
    

    <hr class="divider">

    <%= f.button :submit, "Salvar", class: 'save-btn' %>
  <% end %>
</div>
