<div class="profile__head">
  <div class="profile__head--header">
    <div class="profile__head--back-btn">
      <%= link_to recruiters_dashboard_home_index_path do %>
        <%= image_tag "arrow-right.svg" %>
      <% end %>
    </div>
    <h1 class="profile__head--title-page"><%= @recruiter_profile.trade_name %></h1>
  </div>
</div>

<div class="profile__body">

  <div class="profile__show">
    <div class="profile__show--img">
      <% if @recruiter_profile.avatar.persisted? %>
        <%= image_tag @recruiter_profile.avatar, class: "img-fluid rounded", width: "128", height: "128" %>
      <% else %>
        <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
      <% end %>
    </div>
    
    <dl class="profile__show--description">
      <div class="description-field">
        <dt>Razão social:</dt>
          <dd><%= @recruiter_profile.legal_name %></dd>
      </div>

      <div class="description-field">
        <dt>Nome fantasia</dt>
          <dd><%= @recruiter_profile.trade_name %></dd>
      </div>

      <div class="description-field">
        <dt>CNPJ</dt>
          <dd><%= @recruiter_profile.document %></dd>
      </div>

      <div class="description-field">
        <dt>Setor</dt>
          <dd><%= @recruiter_profile.sector %></dd>
      </div>

      <div class="description-field">
        <dt>Número de funcionários</dt>
          <dd><%= @recruiter_profile.number_employee %></dd>
      </div>

      <div class="description-field">
        <dt>Sobre nós</dt>
          <dd><%= @recruiter_profile.about_us %></dd>
      </div>

      <div class="description-field">
        <dt>Telefone</dt>
          <dd><%= @recruiter_profile.phone %></dd>
      </div>

      <div class="description-field">
        <dt>Mobile</dt>
          <dd><%= @recruiter_profile.cell_phone %></dd>
      </div>

      <div class="description-field">
        <dt>Rua</dt>
          <dd><%= @recruiter_profile.address.street %></dd>
      </div>

      <div class="description-field">
        <dt>CEP</dt>
          <dd><%= @recruiter_profile.address.postal_code %></dd>
      </div>

      <div class="description-field">
        <dt>Complemento</dt>
          <dd><%= @recruiter_profile.address.complement %></dd>
      </div>

      <div class="description-field">
        <dt>Bairro</dt>
          <dd><%= @recruiter_profile.address.neighborhood %></dd>
      </div>
      <div class="description-field">
        <dt>Cidade</dt>
          <dd><%= @recruiter_profile.address.city %></dd>
      </div>
      <div class="description-field">
        <dt>Estado</dt>
          <dd><%= @recruiter_profile.address.state %></dd>
      </div>
    </dl>
    <%= link_to "Editar perfil", edit_recruiters_dashboard_profile_path, class: "btn-edit"%>
  </div>
</div>







