<div class="profile__head">
  <div class="profile__head--header">
    <div class="profile__head--back-btn">
      <%= link_to recruiters_dashboard_home_index_path do %>
        <%= image_tag "arrow-right.svg" %>
      <% end %>
    </div>
    <h1 class="profile__head--title-page"><%= @recruiter_profile.trade_name %></h1>
  </div>
</div>

<div class="profile__body">
  <div class="profile__show">
    <div class="profile__show--img">
      <% if @recruiter_profile.avatar.persisted? %>
        <%= image_tag @recruiter_profile.avatar, class: "img-fluid rounded", width: "128", height: "128" %>
      <% else %>
        <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
      <% end %>
    </div>

    <div class="profile__show--card">
      <div class="profile__show--card-infoUser">
        <div class="profile-card-header">
          <%= image_tag "info.svg", width: "24" %>
          <h1>Informações</h1>
        </div>
        <div class="profile-card-body">
          <ul>
            <li><%= @recruiter_profile.legal_name %></li>
            <li><%= @recruiter_profile.document %></li>
            <li><%= @recruiter_profile.sector %></li>
            <li><%= @recruiter_profile.number_employee %> colaboradores</li>
          </ul>
          <h3>Sobre nós</h3>
          <p><%= @recruiter_profile.about_us %></p>
        </div>
      </div>  
      <div class="profile__show--card-contact">
        <div class="profile-card-header">
          <%= image_tag "contact-card.svg", width: "24" %>
          <h1>Contato</h1>
        </div>
        <div class="profile-card-body">
          <ul>
            <li><%= current_recruiter.email %></li>
            <li><%= @recruiter_profile.phone %></li>
            <li><%= @recruiter_profile.cell_phone %></li>
          </ul>
        </div>
      </div> 
      <div class="profile__show--card-address">
        <div class="profile-card-header">
          <%= image_tag "address.svg", width: "24" %>
          <h1>Endereço</h1>
        </div>
        <div class="profile-card-body">
          <p><%= @recruiter_profile.address.street %>, <%= @recruiter_profile.address.number %> - 
          <%= @recruiter_profile.address.complement %> - CEP - <%= @recruiter_profile.address.postal_code %></p>
          <p><%= @recruiter_profile.address.neighborhood %>, <%= @recruiter_profile.address.city %> - 
          <%= @recruiter_profile.address.state %>
          </p>
        </div>
      </div>   
      <%= button_to "Editar perfil", edit_recruiters_dashboard_profile_path(@recruiter_profile),
                  method: :get, class: "btn-edit"%>
    </div>
  </div>
</div>







