<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>

<div class="row justify-content-evenly">
  <div class="col-md-2 col-12">
    <div class="avatar-profile text-center my-md-0 my-5">
      <% if @recruiter_profile.avatar.persisted? %>
        <%= image_tag @recruiter_profile.avatar, class: "img-fluid rounded", width: "128", height: "128" %>
      <% else %>
        <%= image_tag 'profile.png', class: "img-fluid rounded", width: "128", height: "128" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-7 col-12">
    <h3><%= @recruiter_profile.full_name %></h3>
    <hr>

    <h4>CNPJ</h4>
    <p class="mb-4"><%= @recruiter_profile.document %></p>

    <h4>Telefone</h4>
    <p class="mb-4"><%= @recruiter_profile.phone %></p>

    <h4>Mobile</h4>
    <p class="mb-4"><%= @recruiter_profile.cell_phone %></p>

    <h4>Setor</h4>
    <p class="mb-4"><%= @recruiter_profile.sector %></p>

    <h4>Número de funcionários</h4>
    <p class="mb-4"><%= @recruiter_profile.number_employee %></p>

    <%= button_to 'Editar',
                  edit_recruiters_dashboard_profile_path(@recruiter_profile),
                  method: :get, class: 'btn btn-primary mb-5' %>
  </div>
</div>

