<div class="box">
  <h1 class="box__title">Minhas Informações</h1>
  <h3 class="box__subtitle">Informações do Recrutador, endereço e contato</h3>
  <hr class="divider">

  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>

  <div class="avatar-profile text-center mb-4">
    <% if @recruiter_profile.avatar.persisted? %>
      <%= image_tag @recruiter_profile.avatar, class: "img-fluid rounded-circle", width: "128", height: "128" %>
    <% else %>
      <%= image_tag 'profile.png', class: "img-fluid rounded-circle", width: "128", height: "128" %>
    <% end %>
  </div>

  <dl>
    <dt>Nome:</dt>
    <dd><%= @recruiter_profile.full_name %></dd>

    <dt>CNPJ:</dt>
    <dd><%= @recruiter_profile.document %></dd>

    <dt>Telefone:</dt>
    <dd><%= @recruiter_profile.phone %></dd>
    
    <dt>Mobile:</dt>
    <dd><%= @recruiter_profile.cell_phone %></dd>
    
    <dt>Setor:</dt>
    <dd><%= @recruiter_profile.sector %></dd>
    
    <dt>Número de funcionários:</dt>
    <dd><%= @recruiter_profile.number_employee %></dd>
  </dl>

  <%= button_to 'Editar', 
  edit_recruiters_dashboard_profile_path(@recruiter_profile), method: :get, class: 'btn btn-edit' %>
</div>