<div class="profile__head">
  <div class="profile__head--header">
    <div class="profile__head--back-btn">
      <%= link_to recruiters_dashboard_home_index_path do %>
        <%= image_tag "arrow-right.svg" %>
      <% end %>
    </div>
    <h1 class="profile__head--title-page"><%= action_name.capitalize %> vaga</h1>
  </div>
</div>

<div class="profile__body">
  <div class="profile__body--form">
    <%= simple_form_for @vacancy, url: (@vacancy.new_record? ?
                                          recruiters_dashboard_vacancies_path :
                                          recruiters_dashboard_vacancy_path),
                                          data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>

    <%= form.input :recruiter_profile_id, as: :hidden, input_html: { value: current_recruiter.id} %>
      
    <% if action_name == 'edit' %>
    <div class="form-field">
      <%= form.input :status, collection: ["Ativo", "Pausada", "Expirada", "Cancelada", "Fechada"], include_blank: "Selecione um status",
                    label_html: { class: 'form-label' },
                    input_html: { class: 'form-select'}  %>
      </div>
    <% end %>
    <div class="form-field">
      <%= form.input :title, label_html: { class: 'form-label' } %>
    </div>
    <div class="form-field">
      <%= form.input :description, as: :text, label_html: { class: 'form-label' },
                                  input_html: { rows: 5, cols: 10, class: 'form-control' } %>
    </div>
    <div class="form-field">
      <%= form.input :requirements, label_html: { class: 'form-label' },
                      input_html: { class: 'form-control'} %>
    </div>
    <div class="form-field">        
      <%= form.input :desired_skill, label_html: { class: 'form-label' },
                      input_html: { class: 'form-control' } %>
    </div>
    <div class="form-field">        
      <%= form.input :vacancy_level_id, as: :select, collection: VacancyLevel.all, include_blank: "Selecione o nível da vaga",
                        label_html: { class: 'form-label' },
                        input_html: { class: 'form-select'} %>
    </div>
    <div class="form-field">        
      <%= form.input :working_model, label_html: { class: 'form-label' },
                                  input_html: { class: 'form-control' } %>
    </div>
    <div class="form-field">        
      <%= form.input :salary, label_html: { class: 'form-label' },
                                  input_html: { class: 'form-control' } %>
    </div>
    <div class="form-field">
      <%= form.input :contract_type, label_html: { class: 'form-label' },
                        input_html: { class: 'form-control'} %>
    </div>
    <div class="form-field">    
      <%= form.input :location, label_html: { class: 'form-label' }, input_html: { class: 'form-control'} %>
    </div>
    <h3 class="form-title">Benefícios</h3>
    <template data-nested-form-target="template">
      <%= form.simple_fields_for :vacancy_benefits, VacancyBenefit.new, child_index: 'NEW_RECORD' do |benefits| %>
        <%= render "vacancy_benefit_fields", f: benefits %>
      <% end %>
    </template>

    <%= form.simple_fields_for :vacancy_benefits do |benefits| %>
      <%= render "vacancy_benefit_fields", f: benefits %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <div class="add-benefits">
      <button type="button" data-action="nested-form#add">
        <%= image_tag "plus-circle.svg", width: "24" %>Adicionar benefício
      </button>
    </div>
    <%= form.button :submit, class: 'btn-update' %>

    <% end %>
  </div>
</div>