<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>
  
<%= simple_form_for @vacancy, url: (@vacancy.new_record? ?
                                      recruiters_dashboard_vacancies_path :
                                      recruiters_dashboard_vacancy_path) do |form| %>

  <%= form.input :recruiter_profile_id, as: :hidden, input_html: { value: current_recruiter.id} %>

  <h3 class="mt-3 mt-md-0">Nova vaga</h3>

  <div class="row">
    <div class="col">
    <% if action_name == 'edit' %>
      <%= form.input :status, collection: ["Ativo", "Pausada", "Expirada", "Cancelada", "Fechada"], include_blank: "Selecione um status",
                     label_html: { class: 'form-label' },
                     input_html: { class: 'form-select'}  %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= form.input :title, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= form.input :description, as: :text, label_html: { class: 'form-label' },
                              input_html: { rows: 5, cols: 10, class: 'form-control' } %>
    </div>
  </div>

  <div class="row g-0 g-md-5">
    <div class="col-md-6 col-12">
      <%= form.input :requirements, label_html: { class: 'form-label' },
                  input_html: { class: 'form-control'} %>
    </div>
    <div class="col-md-6 col-12">
      <%= form.input :desired_skill, label_html: { class: 'form-label' },
                  input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row g-0 g-md-5">
    <div class="col-md-4 col-12">
      <%= form.input :vacancy_level_id, as: :select, collection: VacancyLevel.all, include_blank: "Selecione o nível da vaga",
                     label_html: { class: 'form-label' },
                     input_html: { class: 'form-select'} %>
    </div>
    <div class="col-md-4 col-12">
      <%= form.input :working_model, label_html: { class: 'form-label' },
                               input_html: { class: 'form-control' } %>
    </div>
    <div class="col-md-4 col-12">
      <%= form.input :salary, label_html: { class: 'form-label' },
                               input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row g-0 g-md-5">
    <div class="col-md-6 col-12">
      <%= form.input :contract_type, label_html: { class: 'form-label' },
                     input_html: { class: 'form-control'} %>
    </div>
    <div class="col-md-6 col-12">
      <%= form.input :benefits, label_html: { class: 'form-label' },
                     input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= form.input :location, label_html: { class: 'form-label' }, input_html: { class: 'form-control'} %>
    </div>
  </div>

  <h3 class="mt-5 mb-2">Benefícios</h3>
  <div class="row">
    <div class="col">
      <div id="vacancy_benefits">
        <%= form.simple_fields_for :vacancy_benefits do |benefit| %>
          <%= render "vacancy_benefit_fields", :f => benefit %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association form, :vacancy_benefits, class: 'btn btn-success btn-sm my-4' do %>
            <%= icon('fa-solid', 'plus') %>&nbsp;&nbsp;Adicionar benefício
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col text-end">
      <%= form.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
