<div class="box">
  <h1 class="box__title">Vaga</h1>
  <hr class="divider">

  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>
  
  <%= simple_form_for @vacancy, 
    url: (@vacancy.new_record? ? 
      recruiters_dashboard_vacancies_path :
      recruiters_dashboard_vacancy_path) do |form| %>

      <%= form.input :recruiter_profile_id, as: :hidden, input_html: { value: current_recruiter.id} %>

      <% if action_name == 'edit' %>
        <%= form.input :status, collection: ["Ativo", "Pausada", "Expirada", "Cancelada", "Fechada"], include_blank: "Selecione um status",
                              wrapper_html: { class: 'form-control'},
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input', id: 'status-select' }  %>
      <% end %>
      
      <%= form.input :title, wrapper_html: { class: 'form-control' }, 
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input'} %>

      <%= form.input :description, as: :text, wrapper_html: { class: 'form-control' },
                              label_html: { class: 'form-label' },
                              input_html: { rows: 5, cols: 10, class: 'form-input' } %>
      
      <%= form.input :vacancy_level_id, as: :select, collection: VacancyLevel.all, include_blank: "Selecione o nível da vaga", 
                              wrapper_html: { class: 'form-control'},
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input'} %>
               
      <%= form.input :working_model, wrapper_html: { class: 'form-control'}, 
                          label_html: { class: 'form-label' },
                          input_html: { class: 'form-input'} %>

      <%= form.input :salary, wrapper_html: { class: 'form-control'}, 
                              label_html: { class: 'form-label' },
                              input_html: { class: 'form-input'} %>
    
      <%= form.input :benefits, wrapper_html: { class: 'form-control'}, 
                          label_html: { class: 'form-label' },
                          input_html: { class: 'form-input'} %>

      <%= form.input :location, wrapper_html: { class: 'form-control'}, 
                                    label_html: { class: 'form-label' },
                                    input_html: { class: 'form-input'} %>
    
    <%= form.button :submit, class: 'save-btn' %>
  <% end %>
</div>