<div class="dashboard__head">
  <div class="dashboard__head--header">
    <div class="dashboard__head--back-btn">
      <%= link_to recruiters_dashboard_home_index_path do %>
        <%= image_tag "angle-left.svg" %>
      <% end %>
    </div>
    <%= link_to new_recruiters_dashboard_vacancy_path do %>
      <h1 class="dashboard__head--title-page">Publicar vaga &rarr;</h1>
    <% end %>
  </div>
</div>
<div class="dashboard__body">
  <div class="dashboard__content">
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <h3>Vagas publicadas</h3>
      </div>
      <div class="dashboard__content--card-body">
        <% if @vacancies.empty? %>
          <p>Nenhuma vaga publicada ainda!</p>
        <% else %>
          <% @vacancies.each do |vacancy| %>
          <div class="content-body">
              <div class="content-body-left">
                <%= image_tag "briefcase-view-outline.svg"%>
                <span><%= vacancy.title %></span>
              </div>
              <%= link_to recruiters_dashboard_vacancy_path(vacancy) do %>
                <%= image_tag "arrow-right.svg" %>
              <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
