<%= link_to new_recruiters_dashboard_vacancy_path, class: 'btn btn-primary mb-md-5 my-3' do %>
  <%= icon('fa-solid', 'suitcase') %>&nbsp;&nbsp;Nova vaga
<% end %>

<h3 class="mb-3">Vagas publicadas</h3>
<% if @vacancies.empty? %>
  <h1>Nenhuma vaga publicada ainda!</h1>
<% else %>
  <div class="table-responsive">
    <table class="table table-hover border border-primary-subtle">
      <thead>
        <tr class="table-primary">
          <th scope="col">Vaga</th>
          <th scope="col">Nível da Vaga</th>
          <th scope="col">Localização</th>
          <th scope="col">Status</th>
          <th scope="col">Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <% @vacancies.each do |vacancy| %>
        <tr>
          <td><%= vacancy.title %></td>  
          <td>
            <% if vacancy.vacancy_level.present? %>
              <%= vacancy.vacancy_level.level %>
            <% else %>
              Nível não definido
            <% end %>
          </td>  
          <td><%= vacancy.location %></td>  
          <td><%= vacancy.status %></td>  
          <td>
            <%= link_to recruiters_dashboard_vacancy_path(vacancy) do %>
              <%= icon('fa-solid', 'eye') %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
