<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>

<div class="container">
  <div class="row my-3 mb-md-5">
    <div class="col-md col-12">
      <h4>
        <strong>Código da vaga:</strong> <%= @vacancy.code %>
      </h4>
    </div>
    <div class="col-md col-12 text-end">
      <span class="badge rounded-pill text-bg-<%= badge_class_for_status(@vacancy.status) %>">
        <%= @vacancy.status %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Título da vaga</h4>
      <p class="mb-4"><%= @vacancy.title %></p>

      <h4>Descrição:</h4>
      <p class="mb-4"><%= @vacancy.description %></p>

      <h4>Requisitos para a vaga:</h4>
      <p class="mb-4"><%= @vacancy.requirements %></p>

      <h4>Habilidades desejada:</h4>
      <p class="mb-4"><%= @vacancy.desired_skill %></p>

      <h4>Nível da vaga:</h4>
      <p class="mb-4"><%= @vacancy.vacancy_level %></p>

      <h4>Modelo de Trabalho:</h4>
      <p class="mb-4"><%= @vacancy.working_model %></p>

      <h4>Salário:</h4>
      <p class="mb-4"><%= number_to_currency @vacancy.salary %></p>

      <h4>Benefícios</h4>
      <ul class="list-benefits mb-4">
        <% @vacancy_benefits.each do |benefit| %>
          <li class="list-benefits-item"><%= benefit.benefit_name %></li>
        <% end %>
      </ul>

      <h4>Tipo de contrato:</h4>
      <p class="mb-4"><%= @vacancy.contract_type %></p>

      <h4>Localização:</h4>
      <p class="mb-4"><%= @vacancy.location %></p>

      <%= button_to 'Editar', edit_recruiters_dashboard_vacancy_path(@vacancy),
                    method: :get, class: 'btn btn-primary my-4' %>
    </div>
  </div>
</div>

<% if @vacancy.candidatures.empty? %>
  <div class="card text-center mb-5 bg-warning-subtle">
    <div class="card-body">
      <p class="card-text">Nenhuma candidatura para essa vaga ainda</p>
    </div>
  </div>
<% else %>
  <p class="fw-medium text-end"><%= @vacancy.candidatures.count %> candidaturas para esta vaga</p>
  <div class="table-responsive mb-5">
    <table class="table table-hover border border-primary-subtle">
      <thead>
        <tr class="table-primary">
          <th scope="col">Candidato</th>
          <th scope="col">Candidatura em</th>
          <th scope="col" class="text-center">Favorito</th>
          <th scope="col" class="text-center">Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <% @vacancy.candidatures.each do |candidature| %>
          <tr>
            <td><%= candidature.applicant_profile.first_name %></td>
            <td><%= l candidature.created_at, format: :short %></td>
            <td class="text-center">
              <% if candidature.favorite == true %>
                <%= image_tag 'star.svg', class: "favorite-applicant" %>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to recruiters_dashboard_candidature_path(candidature) do %>
                <%= icon('fa-solid', 'eye') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
