<div class="dashboard__head">
  <div class="dashboard__head--header">
    <div class="dashboard__head--back-btn">
      <%= link_to recruiters_dashboard_home_index_path do %>
        <%= image_tag "angle-left.svg" %>
      <% end %>
    </div>
    <h1 class="dashboard__head--title-page"><%= @vacancy.title %></h1>
  </div>
</div>

<div class="dashboard__body">
  <div class="dashboard__content">
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "info.svg", width: "24" %>
        <h3>Detalhes</h3>
      </div>
      <ul>
        <li>Vaga <%= @vacancy.status.downcase %></li>
        <% if @vacancy.candidatures.empty? %>
          <li>Nenhuma candidatura para essa vaga ainda</li>
        <% else %>
          <li>
            <%= @vacancy.candidatures.count %> candidaturas para esta vaga
          </li>
        <% end %>
        <li>Nível <%= @vacancy.vacancy_level %></li>
        <li>Modelo de trabalho <%= @vacancy.working_model.downcase %></li>
        <li><%= number_to_currency @vacancy.salary %></li>
        <li>Contrato do tipo <%= @vacancy.contract_type %></li>
        <li><%= @vacancy.location %></li>
      </ul>
    </div>

    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "description.svg", width: "24" %>
        <h3>Descrição</h3>
      </div>
      <p>
        <%= @vacancy.description %>
      </p>
    </div>

    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "requirement.svg", width: "24" %>
        <h3>Requisitos</h3>
      </div>
      <p>
        <%= @vacancy.requirements %>
      </p>
    </div>

    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "ability.svg", width: "24" %>
        <h3>Habilidade desejável</h3>
      </div>
      <p>
        <%= @vacancy.desired_skill %>
      </p>
    </div>

    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "benefit.svg", width: "24" %>
        <h3>Benefícios</h3>
      </div>
      <ul>
        <% @vacancy_benefits.each do |benefit| %>
          <li><%= benefit.benefit_name %></li>
        <% end %>
      </ul>
    </div>
    <%= button_to 'Editar', edit_recruiters_dashboard_vacancy_path(@vacancy),
                    method: :get, class: 'btn-edit' %>
  </div>
</div>