<div class="box">
  <h1 class="box__title"><%= @vacancy.title %></h1>
  <hr class="divider">
  <dl>
    <dt>Título:</dt>
    <dd><%= @vacancy.title %></dd>
    <dt>Código da vaga:</dt>
    <dd><%= @vacancy.code %></dd>
    <dt>Descrição:</dt>
    <dd><%= @vacancy.description %></dd>
    <dt>Nível da Vaga:</dt>
    <dd><%= @vacancy.vacancy_level %></dd>
    <dt>Modelo de Trabalho:</dt>
    <dd><%= @vacancy.working_model %></dd>
    <dt>Salário:</dt>
    <dd><%= @vacancy.salary %></dd>
    <dt>Benefícios:</dt>
    <dd><%= @vacancy.benefits %></dd>
    <dt>Localização:</dt>
    <dd><%= @vacancy.location %></dd>
  </dl>
  <%= button_to 'Editar', edit_recruiters_dashboard_vacancy_path(@vacancy),
    method: :get, class: 'btn btn-edit' %>

  <hr class="divider">
  <h3 class="box__title"><%= @vacancy.candidatures.count %> candidaturas para esta vaga</h3>
  <% if @vacancy.candidatures.empty? %>
    <h1>Nenhuma candidatura para essa vaga ainda</h1>
  <% else %>
    <dl>
      <% @vacancy.candidatures.each do |candidature| %>
        <dt>Nome do candidato: </dt>
        <dd><%= candidature.applicant_profile.first_name %></dd>
      <% end %>
    </dl>
  <% end %>
</div>