<div class="dashboard__head">
  <div class="dashboard__head--header">
    <div class="dashboard__head--back-btn">
      <%= link_to applicants_dashboard_home_index_path do %>
        <%= image_tag "angle-left.svg" %>
      <% end %>
    </div>
    <h1 class="dashboard__head--title-page">Minhas candidaturas</h1>
  </div>
</div>
<div class="dashboard__body">
  <div class="dashboard__content">
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <h3>Vagas que me candidatei</h3>
      </div>
      <div class="dashboard__content--card-body">
        <% if @candidatures.empty? %>
          <p>Nenhuma candidatura ainda</p>
        <% else %>
          <% @candidatures.each do |candidature| %>
            <div class="content-body">
              <div class="content-body-left">
                <%= candidature.status %> para
                <%= candidature.vacancy.title %>
              </div>
              <%= link_to applicants_dashboard_candidature_path(candidature) do %>
                <%= image_tag "arrow-right.svg" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div> 
  </div>
</div>