<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>

<div class="row">
  <div class="col">
    <h2>Pergunta(s) obrigatória</h2>
    <%= simple_form_for @candidature, url: applicants_dashboard_vacancy_candidatures_path do |form| %>
      <%= form.input :applicant_profile_id, as: :hidden, input_html: { value: current_applicant.id }%>
      <%= form.input :vacancy_id, as: :hidden, input_html: { value: params[:vacancy_id] } %>
      <%= form.input :reason_application, as: :text, label_html: { class: 'form-label' },
                     input_html: { rows: 5, cols: 10, class: 'form-control' } %>
      <%= form.button :submit, class: 'btn btn-primary my-4' %>
    <% end %>
  </div>
</div>

