<div class="box">
  <h1 class="box__title">Aplicar para a vaga</h1>
  <hr class="divider">
  <%= form_with model: @candidature, url: applicants_dashboard_vacancy_candidatures_path do |form| %>
      <%= form.hidden_field :applicant_profile_id, value: current_applicant.id %>
      <%= form.hidden_field :vacancy_id, value: params[:vacancy_id] %>
      <div class="form-control">
        <%= form.label :reason_application, class: 'form-label'%>
        <%= form.text_area :reason_application, class: 'form-input' %>
      </div>
      <%= form.submit class: "save-btn" %>
  <%end %>
</div>