<div class="dashboard__head">
  <div class="dashboard__head--header">
    <div class="dashboard__head--back-btn">
      <%= link_to applicants_dashboard_home_index_path do %>
        <%= image_tag "angle-left.svg" %>
      <% end %>
    </div>
    <h1 class="dashboard__head--title-page"><%= @candidature.vacancy.title %></h1>
  </div>
</div>
<div class="dashboard__body">
  <div class="dashboard__content">
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "info.svg", width: "24" %>
        <h3>Detalhes da candidatura</h3>
      </div>
      <ul>
        <li><%= @candidature.status %></li>
        <li>Vaga código <strong><%= @candidature.vacancy.code %></strong></li>
        <li>Vaga nível <strong><%= @candidature.vacancy.vacancy_level %></strong></li>
        <li>Salário <strong><%= number_to_currency @candidature.vacancy.salary %></strong></li>
        <li>Modalidade de trabalho <strong><%= @candidature.vacancy.working_model %></strong></li>
        <li>Contrato do tipo <strong><%= @candidature.vacancy.contract_type %></strong></li>
        <li>Candidatado em <strong><%= l @candidature.vacancy.created_at, format: :long %></strong></li>
        <li>Localização <strong><%= @candidature.vacancy.location %></strong></li>
      </ul>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "description.svg", width: "24" %>
        <h3>Descrição da vaga</h3>
      </div>
      <p>
        <%= @candidature.vacancy.description %>
      </p>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "requirement.svg", width: "24" %>
        <h3>Requisitos</h3>
      </div>
      <p>
        <%= @candidature.vacancy.requirements %>
      </p>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "ability.svg", width: "24" %>
        <h3>Habilidade desejável</h3>
      </div>
      <p>
        <%= @candidature.vacancy.desired_skill %>
      </p>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "benefit.svg", width: "24" %>
        <h3>Benefícios</h3>
      </div>
      <ul>
        <% @candidature.vacancy.vacancy_benefits.each do |benefit| %>
          <li><%= benefit.benefit_name %></li>
        <% end %>
      </ul>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "question.svg", width: "24" %>
        <h3>Perguntas obrigatórias</h3>
      </div>
      <h4>Por que devemos te contratar?</h4>
      <p>
        <%= @candidature.reason_application %>
      </p>
    </div>
    <div class="dashboard__content--card">
      <div class="dashboard__content--card-header">
        <%= image_tag "messages.svg", width: "24" %>
        <h3>Mensagens do recrutador</h3>
      </div>
      <% if @candidature.comments.empty?%>
          <div class="card text-center mb-5 bg-warning-subtle">
            <div class="card-body">
              <p class="card-text">Nenhuma mensagem ainda</p>
            </div>
          </div>
      <% else %>
        <div class="balloon-container">
          <% @candidature.comments.each do |comment| %>
            <% if comment.content.present? %>
              <div class="balloon right">
              <span class="date-comment">
                <%= l comment.created_at, format: :short %>
              </span>
                <p>
                  <%= comment.content %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
