<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>
<div class="container">
  <div class="row d-flex mb-4 justify-content-between">
    <div class="col">
      <div class="border rounded-4 p-4">
        <h4 class="border-bottom pb-3 text-end">
          <span class="badge bg-secondary"><%= @candidature.status %></span>
        </h4>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Codigo da vaga</div>
            <strong><%= @candidature.vacancy.code %></strong>
          </div>
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Título</div>
            <strong><%= @candidature.vacancy.title %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Nível</div>
            <strong><%= @candidature.vacancy.vacancy_level %></strong>
          </div>
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Salário</div>
            <strong><%= number_to_currency @candidature.vacancy.salary %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Modalidade</div>
            <strong><%= @candidature.vacancy.working_model %></strong>
          </div>
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Contrato</div>
            <strong><%= @candidature.vacancy.contract_type %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Localização</div>
            <strong><%= @candidature.vacancy.location %></strong>
          </div>
          <div class="col-md-6 d-flex justify-content-between py-2">
            <div>Data da candidatura</div>
            <strong><%= l @candidature.vacancy.created_at, format: :long %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-4">
        <h2 class="mb-3">Descrição da vaga</h2>
        <p><%= @candidature.vacancy.description %></p>
      </div>
      <div class="mb-4">
        <h2 class="mb-3">Requisitos</h2>
        <p><%= @candidature.vacancy.requirements %></p>
      </div>
      <div class="mb-4">
        <h2 class="mb-3">Habilidades desejada</h2>
        <p><%= @candidature.vacancy.desired_skill %></p>
      </div>
      <div class="mb-4">
        <h2 class="mb-3">Benefícios</h2>
        <p><%= @candidature.vacancy.benefits %></p>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <h2>Perguntas obrigatórias</h2>
      <h4 class="text-secondary">Por que devemos te contratar?</h4>
      <p><%= @candidature.reason_application %></p>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-3">Comentários do Recrutador</h2>
      <% if @candidature.comments.empty?%>
          <div class="card text-center mb-5 bg-warning-subtle">
            <div class="card-body">
              <p class="card-text">Nenhuma mensagem ainda</p>
            </div>
          </div>
      <% else %>
        <div class="balloon-container">
          <% @candidature.comments.each do |comment| %>
            <% if comment.content.present? %>
              <div class="balloon right">
              <span class="date-comment">
                <%= l comment.created_at, format: :short %>
              </span>
                <p>
                  <%= comment.content %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>