<main class="authenticate">
  <h2 class="authenticate__title">
    <%= t('devise.sessions.new.log_in') %>
  </h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: t('placeholders.email') %>

    <%= f.input :password,
                label: false,
                input_html: { autocomplete: "current-password" },
                placeholder: t('placeholders.password') %>

    <%= f.input :remember_me, 
                label: t('simple_form.options.remember_me'),
                input_html: { class: 'authenticate__remember' },
                as: :boolean if devise_mapping.rememberable?  %>

    <%= f.button :submit, t('devise.sessions.new.log_in'), class: "authenticate-btn" %>
  <% end %>

  <div class="authenticate__links">
    <%= render "recruiters/shared/links" %>
  </div>
</main>