<%= render "shared/navbar" %>

<section class="home">
  <div class="home__welcome">
    <h1 class="home__welcome-title">Bem-vindo ao doHiring</h1>
    <h3 class="home__welcome-subtitle">Encontre as melhores oportunidades de emprego.</h3>
    <p class="home__welcome-paragraph">
      A doHiring é a plataforma ideal para conectar recrutadores e
      candidatos. Com nossas ferramentas, você pode encontrar
      oportunidades de emprego que correspondam às suas habilidades e
      experiências, ou encontrar os melhores talentos para sua empresa.
    </p>

    <div class="home__welcome-btns">
      <%= button_to "Quero contratar", new_recruiter_registration_path, class: "btn", 
          method: :get %>
      <%= button_to "Quero trabalhar", new_applicant_registration_path, class: "btn--outline", 
      method: :get %>
    </div>

  </div>
  <div class="home__img">
    <%= image_tag "recruiter.png" %>
  </div>
</section>

<section class="home__cta">
  <h2 class="home__cta-title">Encontre a oportunidade perfeita!</h2>
  <p class="home__cta-paragraph">Explore milhares de vagas em nossa plataforma e dê um impulso em sua carreira.</p>
  <%= link_to 'Ver vagas', vacancies_path, class: "btn--outline" %>
</section>


<div class="container my-5">
  <section class="row text-md-start text-center pt-5">
    <div class="col-md-4 py-4">
      <h2 class="welcome-subtitle">Recrutador</h2>
      <p class="section-paragraph">Encontre os melhores talentos para sua empresa com a doHiring. Com nossa plataforma, você pode criar vagas, gerenciar candidaturas e escolher os candidatos mais qualificados para a vaga. Simplifique seu processo de contratação e encontre os melhores talentos para sua equipe.</p>
    </div>
    <div class="col-md-4 py-4">
      <h2 class="welcome-subtitle">Candidato</h2>
      <p class="section-paragraph">A doHiring é o lugar ideal para encontrar as melhores oportunidades de emprego. Com nossa plataforma, você pode pesquisar vagas, se candidatar diretamente pelo sistema e acompanhar suas candidaturas. Além disso, nossa ferramenta de busca avançada ajuda você a encontrar vagas que correspondam às suas habilidades e experiências.</p>
    </div>
    <div class="col-md-4 py-4">
      <h2 class="welcome-subtitle">Deu Match</h2>
      <p class="section-paragraph">Com a doHiring, encontrar o candidato ideal para sua vaga é fácil. Com nosso recurso "Deu match", você recebe recomendações de candidatos qualificados que correspondem às suas vagas. Não perca tempo analisando centenas de candidaturas - encontre o candidato ideal em segundos com a doHiring.</p>
    </div>
  </section>
</div>

<%= render "shared/footer" %>
