<% flash.each do |type, message| %>
  <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
<% end %>

<div class="accordion" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <%= icon('fa-solid', 'suitcase') %>&nbsp;&nbsp;&nbsp;&nbsp;Perfil
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><%= link_to 'Meu perfil', new_applicants_dashboard_profile_path %></div>
    </div>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><%= link_to 'Editar perfil', edit_applicants_dashboard_profile_path(current_applicant) %></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <%= icon('fa-solid', 'handshake') %>&nbsp;&nbsp;&nbsp;&nbsp;Candidaturas
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><%= link_to 'Minhas candidaturas', applicants_dashboard_candidatures_path %></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <%= icon('fa-solid', 'handshake') %>&nbsp;&nbsp;&nbsp;&nbsp;Propostas
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><%= link_to 'Minhas propostas', applicants_dashboard_proposals_path %></div>
    </div>
  </div>
</div>