<!DOCTYPE html>
<html>
  <head>
    <title>Applicants Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="brand">
        <h3>
          <%= link_to 'doHiring', applicants_dashboard_home_index_path %>
        </h3>
      </div>
      <div class="menu">
      <ul class="nav-menu">
        <li>
          <%= current_applicant.email %>
        </li>
        <li>
          <%= link_to 'Perfil', new_applicants_dashboard_profile_path %>
        </li>
        <li>
          <%= link_to 'Sair', destroy_applicant_session_path, method: :delete %>
        </li>
      </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>