<!DOCTYPE html>
<html>
  <head>
    <title>Applicants Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icone.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  
  <body class="dashboard">
    <div id="nav">
    <div class="nav__brand">doHiring</div>
    <div class="nav__profile">
      <%= image_tag "profile.svg", width: "48"%>
      <button class="nav__profile--dropdown">Perfil
        <i class='bx bx-chevron-down'></i>
      </button>
      <div class="nav__profile--dropdownContent">
        <%= link_to "Sair", destroy_applicant_session_path, 
        data: { turbo_method: :delete}, 
        class: "dropdown-item", 
        method: :delete %>
      </div>
    </div>
  </div>
  </body>
</html>