<!DOCTYPE html>
<html>
  <head>
    <title>Dohiring | Authenticação</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'icone.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div  class="authenticate">
      <div class="authenticate__colLeft authenticate__colLeft--recruiter"></div>
      <div class="authenticate__colRigth authenticate__colRigth--recruiter">
        <%= yield %>
      </div>
    </div>
  </body>
</html>