<!DOCTYPE html>
<html>
  <head>
    <title>Recruiters Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <%= favicon_link_tag 'icone.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dashboard">
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-wallet'></i>
      <span class="logo_name">doHiring</span>
    </div>

    <ul class="nav-links">
      <li>
        <%= link_to recruiters_dashboard_home_index_path, class: 'active' do %>
          <%= icon('fa-solid', 'list') %>
          <span class="links_name">Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_recruiters_dashboard_profile_path do %>
          <%= icon('fa-solid', 'user') %>
          <span class="links_name">Meu Perfil</span>
        <% end %>
      </li>
      <li>
        <%= link_to recruiters_dashboard_vacancies_path do %>
          <%= icon('fa-solid', 'suitcase') %>
          <span class="links_name">Gerenciar Vagas</span>
        <% end %>
      </li>
      <li>
        <%= link_to recruiters_dashboard_proposals_path do %>
          <%= icon('fa-solid', 'handshake') %>
          <span class="links_name">Propostas Feitas</span>
        <% end %>
      </li>
      <li class="log_out">
        <%= link_to destroy_recruiter_session_path, method: :delete do %>
          <%= icon('fa-solid', 'right-from-bracket') %>
          <span class="links_name">Sair</span>
        <% end %>
      </li>
    </ul>
  </div>

  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn"></i>
        <span class="dashboard">
          <%= controller_name.capitalize.gsub('Controller', '') %>
        </span>
      </div>
    </nav>
    
    <div class="home-content">
        <div class="overview-boxes">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>