<main>

  <%= link_to 'Cadastrar nova vaga', new_recruiters_dashboard_vacancy_path, class: 'btn btn-primary' %>

  <h1 class="title title-vacancy">Minhas vagas</h1>

  <% if @vacancies.empty? %>
    <h1>Nenhuma vaga publicada ainda!</h1>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Vaga</th>
          <th>Nível da Vaga</th>
          <th>Modalidade</th>
          <th>Localização</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @vacancies.each do |vacancy| %>
        <tr>
          <td><%= vacancy.title %></td>  
          <td><%= vacancy.vacancy_level %></td>  
          <td><%= vacancy.working_model %></td>  
          <td><%= vacancy.location %></td>  
          <td><%= link_to 'Ver', recruiters_dashboard_vacancy_path(vacancy) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</main>
