<div class="box">
  <h1 class="box__title">Dashboard do Recrutador</h1>
  <hr class="divider">

  <% flash.each do |type, message| %>
    <%= render partial: 'shared/alert', locals: { type: type, message: message } %>
  <% end %>

  <div class="box__options">
    <div class="option-card option-card-recruiter">
      <%= icon('fa-solid', 'suitcase') %>
      <%= link_to 'Gerenciar Vagas', recruiters_dashboard_vacancies_path %>
      <%# <%= link_to 'Cadastrar nova vaga', new_recruiters_dashboard_vacancy_path %> 
    </div>
    <div class="option-card option-card-recruiter">
      <%= icon('fa-solid', 'handshake') %>  
      <%= link_to 'Propostas realizadas', recruiters_dashboard_proposals_path %>
    </div>
  </div>
</div>
